body {
	padding: 0;
	margin: 0;
	background-color: #3a3a3a;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
	background-color: #3a3a3a;
	padding: 0;
	margin: 0;
}

hr {
	color: inherit;
	border: 0;
	border-top: 1px solid #ddd;
	opacity: 1;
	height: 1px;
	width: 100%;
}

.menu {
	background: #f9f9f9;
}

.menu img {
	height: 50px;
	padding: 10px;
}

.menu a {
	color: #3a3a3a;
	font-weight: 900;
	padding: 10px;
	text-decoration: none;
}

.card {
	border: 0;
	border-radius: 0;
	box-shadow: 0px 0px 10px -8px #000;
	border-radius: 16px !important;
}

.card-header,
.modal-header {
	background: #fefefe;
	border-radius: 16px 16px 0 0 !important;
}

.card-footer,
.modal-footer {
	background: #fefefe;
	border-radius: 0 0 16px 16px !important;
	padding: 16px 16px;
}

.card-title,
.modal-title {
	color: #3a3a3a;
}

.form-control {
	border: 0;
	padding: 0;
	margin: 0;
}

.form-control input {
	border-color: #cccccc;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #eeeeee;
	padding: 5px 16px;
	border-radius: 50px;
	border: none;
	width: calc(100% - 16px);
	margin: 0px 8px;
	box-sizing: border-box;
}

.form-control div[role=button] {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #ffffff;
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
	border: none;
	display: block;
}

.btn {
	font-weight: 900;
	border-radius: 50px;
	padding: 8px 24px;
}

.btn:focus:hover,
.btn:focus,
.btn:active,
.btn:visited {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-primary {
	background: #42b983;
	border: 1px solid #42b983;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
	background: #42b983;
	border: 1px solid #42b983;
	opacity: 0.9;
}

.btn-danger {
	background: #aa3f3f;
	border: 1px solid #aa3f3f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:visited {
	background: #aa3f3f;
	border: 1px solid #aa3f3f;
	opacity: 0.9;
}

.modal {
	display: flex !important;
	background: #00000066 !important;
}

.modal-dialog {
	width: 100vw !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	border: 0 !important;
}

.modal-header,
.modal-footer {
	font-size: 24px !important;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}

.modal-header .item-close {
	background-color: #333333;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px !important;
	height: 24px !important;
}

.modal-header .item-close i {
	font-size: 16px;
	color: white;
	margin: 0;
	padding: 0;
}

.modal-body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}